
.wrapper {
  background-color: rgb(173, 231, 224) ;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  margin: auto;
  background: rgb(5, 68, 60);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h2{
  color: white;
}
label{
  color: white;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input, select, button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  border: none;
}

button[type="submit"] {
  background: black;
  color: white;
}

button[type="button"] {
  background: black;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #cccccc;
}

th {
  background: black;
  color: white;
}

td button {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 4px;
}

td button:first-child {
  background: #20c997;
  color: white;
}

td button:last-child {
  background: #e63946;
  color: white;
}
.error {
  color: white;
  font-size: 12px;
}

